	<div class="row" id="announcement-table">
				<div class="page-header">
					<h2>MPC Announcements:</h2>
				</div>
				<div class="row">
					<div class="well well-sm annc-test">
						<h5>10/25/15: 1PM EST, Noon CST Starcraft 2 Heart of the Swarm Tournament on sunday 1-5PM EST for 2 vs 2</h5>
					</div>
					<div class="well well-sm annc-test">
						<h5>10/20/2015: Clash of Clans MPC assassins Starting War against Furia De Roig</h5>
					</div>
				</div>
				<table clas="table table-hover table-striped">
					<script>
						//Loop the table in javascript.
						var msg = [
						
							'timestamp',
							'messageContent',
							'author'
						];
						
						for ( var i = 0 ; i < msg.length ; i++ ){
								'<tr class="well">';
									'<td>' + msg[i] + '</td>';
								'</tr>';
						}
					</script>											
				</table>
			</div>
			<div class="row" id="admin-announcement-gui">
				<div class="well">
					<h2>Announcement Board
						<span class="label label-default">Admin</span>
					</h2>			
					<span class="input-group-addon glyphicon glyphicon-bullhorn" id="annc-addon">
					</span>
					<textarea type="text" placeholder="Enter an Announcement - then click submit." value="" aria-describedby="annc-addon" name="announcement-text" id="announcement-text"  rows="4" cols="100" wrap="hard" autofocus></textarea>
					<div class="btn-group btn-group-justified" role="group" aria-label="annc-label">
						<div class="btn-group" role="group">
							<button type="button" class="btn btn-default annc-submitbtn">Submit Announcement</button>
						</div>
					</div>
				</div>
			</div>