/*CSS FOR SANDBOX*/
.container {
	background-color: #000;
}
/*
		*Admin Announcement GUI CSS 
*/



/*
	*header
*/
	.page-header {
		margin: auto;
		color: #aaffaa;
		text-shadow: 3px 3px 20px #aaffaa;
	}
/*
	*body
*/
	#admin-announcement-gui {
		margin: 5% 0 5% 0;
	}
	#admin-announcement-gui .well {
		margin: auto;
		box-shadow: 1px 1px 20px #aaffaa;
	}
	#announcement-textarea {
		color: #000;
		background-color: #f2f2f2;
		width: 100%;
		clear: both;
	}
	#annc-submitbtn:hover{
		color: #fff;
		background-color: #000;
		box-shadow: 1px 1px 20px #fff;
	}