<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="bootstrap.css">
		<link rel="stylesheet" type="text/css" href="website.css">
		<link rel="stylesheet" type="text/css" href="font-awesome.css">
		<link rel="stylesheet" type="text/css" href="sandbox.css">
		<script src="bootstrap.js" type="text/javascript"></script>
		<script src="sandbox-header.js" type="text/javascript"></script>
		<script src="validate.js" type="text/javascript"></script>
		</head>
	<body>
		<div class="container">
			
			
			<div class="row" id="announcement-table">
				<div class="page-header">
					<h2>MPC Announcements:</h2>
				</div>
				<div class="row">
					<div class="well well-sm annc-test">
						<h5>10/25/15: 1PM EST, Noon CST Starcraft 2 Heart of the Swarm Tournament on sunday 1-5PM EST for 2 vs 2</h5>
					</div>
					<div class="well well-sm annc-test">
						<h5>10/20/2015: Clash of Clans MPC assassins Starting War against Furia De Roig</h5>
					</div>
				</div>
				<table clas="table table-hover table-striped">
					<script>
						//Loop the table in javascript.
						var msg = [
						
							'timestamp',
							'messageContent',
							'author'
						];
						
						for ( var i = 0 ; i < msg.length ; i++ ){
								'<tr class="well">';
									'<td>' + msg[i] + '</td>';
								'</tr>';
						}
					</script>											
				</table>
			</div>
			<div class="row" id="admin-announcement-gui">
				<div class="well">
					<h2>Announcement Board
						<span class="label label-default">Admin</span>
					</h2>			
					<textarea type="text" placeholder="Enter an Announcement - then click submit." value="" aria-describedby="annc-addon" name="announcement-text" id="announcement-text"  rows="4" wrap="hard" autofocus style="width: 100%;"></textarea>
					<div class="btn-group btn-group-justified" role="group" aria-label="annc-label">
						<div class="btn-group" role="group">
							<button type="button" class="btn btn-default annc-submitbtn">Submit Announcement</button>
						</div>
					</div>
				</div>
			</div>
			
			
			
		</div><!--container-->
		<script src="sandbox-body.js" type="text/javascript"></script>
	</body>
</html>