/*
		*Admin Announcement GUI CSS 
*/



/*
	*header
*/

	.page-header {
		margin: auto;
		color: #aaffaa;
		text-shadow: 1px 1px 10px #aaffaa;
	}

/*
	*body
*/
	.row {
		margin: 5% 0 5% 0;
	}
