

#announcement-btn {
    margin-bottom: 5px;
    font-size: 100%;
}

/*#events-upcoming,*/
/*#announcements-content { margin-top: 30px; }*/

#announcements-content .title h1,
#announcements-content .title h2,
#announcements-content .title h3 {
    margin-top: 0px;
}

#announcements-content table {
    width: 100%;
}

#announcements-content tr > td {
    width: 50%;
}
#announcements-content tr > td:first-child {
    vertical-align: bottom;
}

/*#announcements-content .title-edit,*/
#announcements-content .content {
    padding-left: 5px;
    padding-right: 3px;
}

#announcements-content .info {
    font-size: 80%;
}
#announcements-content .info .author {
    font-size: 95%;
    padding: 2px;
}
#announcements-content .info .author > .well {
    margin: 0;
}
#announcements-content .info .author > a {
    font-size: 115%;
}

#announcements-content > div > hr {
    margin: 0px;
    border-top: 1px solid #444;
    box-shadow: none;
}

#announcements-content > .announcement {
    /*margin-top: 15px;*/
    margin-bottom: 10px;
    background: rgba(40, 40, 40, 0.8);
}

#announcements-content > .announcement > .content > .nano {
    min-height: 120px;
    max-height: 120px;
}

#announcements-content > .announcement > .content > .nano > .nano-content {
    padding-top: 15px;
    padding-bottom: 15px;
}

#announcements-content > .announcement > .content > .nano > .nano-pane {
    bottom: 10px;
    top: 10px;
    width: 10px;
    border: 1px solid #111;
    /*box-shadow: 0 0 3px #000;*/
}

#announcements-content > .announcement > .content > .nano > .nano-pane > .nano-slider {
    background: #0A0A0A;
}

.announcement .control .btn.btn-edit {
    padding: 13px 2px;
    font-size: 15pt;
}
.announcement .control .btn.btn-edit.ctrl-confirm {
    color: #aaffaa;
}
.announcement .control .btn.btn-edit.ctrl-cancel {
    color: #ffaaaa;
}

.announcement > table {
    border-top: 1px solid #444;
}

.announcement > .content h1 { font-size: 28pt; }
.announcement > .content h2 { font-size: 24pt; }
.announcement > .content h3 { font-size: 20pt; }
.announcement > .content p { font-size: 9pt; }

#announcements > .row > .col-md-4 > center > h2,
#announcements > .row > .col-md-4 > h2 {
    margin-bottom: 10px;
}