

#announcement-btn 
{
	margin-bottom: 5px;
}

#announcements-content .title h1,
#announcements-content .title h2,
#announcements-content .title h3
{
    margin-top: 0px;
}

#announcements-content .content
{
    padding-bottom: 5px;
}

#announcements-content .info
{
    padding-top: 5px;
}

#announcements-content .info .author > a
{
    font-size: 150%;
}

#announcements-content > div > hr
{
    margin: 0px;
    border-top: 2px solid gray;
    box-shadow: none;
}

#announcements-content > .well
{
    margin-top: 10px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}