/*Clash of Clans CSS*/
/* Container Div / Parent Div ID = #clash-of-clans */
/*Overwriting: Bootstrap , Website.css */
#clash-of-clans .breadcrumb-text {
    text-decoration: none;
    color: #FAF1BF;
}
#clash-of-clans .breadcrumb-text .active a {
    color: #fff;
}

/*Nav Bar*/
.navbar-clash-of-clans {
    background: url("/img/clash_of_clans/navbar-background.png");
    background-image: url("/img/clash_of_clans/navbar-background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    padding-top: 0px !important;
    padding-right: 5% !important;
    padding-bottom: 0px !important;
    padding-left: 5% !important;
    border-top-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    text-align: center;

}
.navbar-clash-of-clans a {
    font-family: Arial;
    font-size: 13px;
    text-decoration: none;
    color: #FAF1BF;
    font-weight: bold;
}
#cocnavbar-title {
    line-height: 3; 
    margin-right: 5px;
    color: #fff;
}
/*index.html.php*/
#clash-of-clans {
    background-image: url("/img/clash_of_clans/sidebackground.png");
    background-repeat: repeat-y, no-repeat;
    background-position: top center, top center;
    background-attachment: scroll, fixed;
    background-size: auto, auto;
}
 #clash-of-clans .row {
    margin: 5% 0 5% 0;
}
#clash-of-clans .col-md-8 .well{
    margin-top: 1%;
    margin-bottom: 1%;
}
#clash-of-clans .col-md-4 .well {
    margin-top: 10%;
    margin-bottom: 10%;
}
#clash-of-clans .col-md-8, #clash-of-clans .col-md-4 {
    padding-right: 1%;
    padding-left: 1%;
}
/*chat-box.html.php*/
#coc-chat-box h2 {
    color: #FAF1BF;
}
/*online-members.html.php*/
#coc-online-members h2 {
    color: #FAF18F;
}
/*member-status.html.php*/
#coc-member-status h2 {
    color: #FAF18F;
}
/*events.html.php*/
#coc-events h2 {
    color: #FAF18F;
}
/*welcome-msg.html.php*/
#coc-welcome-msg h2 {
    color: #FAF18F;
}
/*activity-feed.html.php*/
#coc-activity-feed h2 {
    color: #FAF18F;
}
/**/
/*footer.html.php*/
#coc-footer h2 {
    color: #FAF18F;
}
