/*Clash of Clans CSS*/

/*Overide Bootstrap*/
a.btn, a {
    text-decoration: none;
    color: #FAF1BF;
}
.breadcrumb .active a {
    color: #fff;
}
/*Overide HTML*/
/*html {
    background: url("/img/clash_of_clans/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}*/

/*Nav Bar*/
.navbar-clash-of-clans {
    background: url("/img/clash_of_clans/navbar-background.png");
    background-image: url("/img/clash_of_clans/navbar-background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    padding-top: 0px !important;
    padding-right: 5% !important;
    padding-bottom: 0px !important;
    padding-left: 5% !important;
    border-top-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    text-align: center;

}
.navbar-clash-of-clans a {
    font-family: Arial;
    font-size: 13px;
    text-decoration: none;
    color: #FAF1BF;
    font-weight: bold;
}
#cocnavbar-title {
    line-height: 3; 
    margin-right: 5px;
    color: #fff;
}
/*index.html.php*/

.row {
    margin: 5% 0 5% 0;
}
.col-md-9 .well, .col-md-3 .well {
    padding-top: 1%;
    padding-bottom: 1%;
}
.col-md-9, .col-md-3 {
    padding-right: 1%;
    padding-left: 1%;
}