.page-header-nav {
    font-family: "Ubuntu";
    font-size: 175%;
    font-weight: 500;
    font-variant: small-caps;
}

.page-header-nav .nav {
    padding-left: 20px;
}

.page-header-nav .navbar-default .navbar-nav > .active > a {
    border-bottom: 5px solid #b9ffb6;
}

.page-header-nav .nav > li > a {
    padding-left: 0;
    padding-right: 0;
    padding-top: 15px;
    height: 70px;
}

@media (max-width: 770px) {
    .page-header-nav .nav > li > a {
        font-size: 12pt;
        height: 50px;
    }
}

.page-header > hr.top-divider {
    margin-bottom: 0px;
}

.page-header > hr.bottom-divider {
    margin-top: 0px;
}
