/* Information Page CSS */
#ventrilologo {
	margin: auto;
	max-height: auto;
	max-width: 80%;
	min-height: auto;
	min-width: 5%;
}
#ventrilobanner {
	margin: auto;
	max-height: auto;
	max-width: 100%;
	min-height: auto;
	min-width: 10%;
	box-shadow: 1px 1px 20px #fff;
}
#ventrilobanner:hover {
	box-shadow: 1px 1px 20px #aaffaa;
	
}
.list-group-item {
	background-color: #f2f2f2;
	color: #000;
}
.list-group-item:hover {
	background-color: #000;
	color: #aaffaa;
	text-shadow: 1px 1px 10px #fff;
}
.glyphicon-size {
	margin: auto;
	max-height: auto;
	max-width: 100%;
	min-height: auto;
	min-width: 50%;
}
.media-list {
	margin-top: 5%;
}
.media:hover {
	position: relative;
	z-index: 5;
	color: #aaffaa;
	text-shadow: 5px 5px 10px #aaffaa;
}
.media:hover a {
	color: #fff;
	text-shadow: 5px 5px 10px #aaffaa;
}