/* Information Page CSS */
#mpc-information img {
    margin: auto;
}
#info-accordion .panel div .well {
    margin-bottom: 0px;
}
#mpc-information .row .col-md-4 a .well {
    margin: 1%;
}
#mpc-information > .row > .col-md-4 > a > div:hover {
    -ms-transform: scale(1.1,1.1); /* IE 9 */
    -webkit-transform: scale(1.1,1.1); /* Safari */
    transform: scale(1.1,1.1); /* Standard syntax */
    transition-duration: .2s;
    box-shadow: 1px 1px 15px #aaffaa;
}
#mpc-information .well-glow {
    box-shadow: 1px 1px 15px #aaffaa;
}   
/*index.html.php*/
#info-accordion {
    margin-top: 2%;
}
/*Banners for Each Well in the First Row*/
#info-aboutus-banner, #info-members-banner, #info-communication-banner {
    margin: auto;
}
/*elements/information/Aboutus.html.php ID's and Classes*/
#infoaboutus p {
    text-indent: 50px;
}
#mpc-information #infoaboutus img {
    margin: auto;
    box-shadow: 1px 1px 15px #aaffaa;
}
#mpc-information #infoaboutus img:hover {
    box-shadow: 1px 1px 15px #fff;
  }
#infoaboutus .row h2, #infoaboutus .row p {
    margin-bottom: 5%;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    color: #fff;
}
#mpc-information h2, #mpc-information h1 {
    color: #aaffaa;
}
/*elements/information/communication.html.php ID's and Classes*/
#connectdiscord #discord-app {
    margin: 0 auto 0 14%;
}
#connectdiscord iframe {
   height: 800px;
}
#connectdiscord .row p {
    color: #fff;
    margin-top: 5%;
    margin-bottom: 5%;
}
#connectdiscord .list-group-item {
    color: #aaffaa;
    background-color: #1a1a1a;
}
#connectdiscord .list-group-item:hover {
    background-color: #1a1a1a;
    color: #1a1a1a;
    box-shadow: 1px 1px 5px 20px #aaffaa inset;
}
#connectdiscord .row {
    margin-top: 5%;
    margin-bottom: 5%;
}