@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,600,700,900);
@import url(http://fonts.googleapis.com/css?family=Passion+One:400,700,900);

.video
{
    position: relative;
}

.video .playbutton {
    position: absolute;
    z-index: 1;
    display: block;
    height: 80px;
    width: 80px;
    left: 60px;
    top: 40px;
}