

.page-header-nav .nav > li > a.navbar-brand
{
    padding: 15px 15px
}

/* Navbar Dropdowns
------------------------------------------------------------------------------------ */

.multi-column-dropdown
{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

/*#navbar-games .dropdown-menu li a,*/
.multi-column-dropdown li a
{
    display: block;
    clear: both;
    padding: 5px 5px 5px 10px;
    line-height: 1.428571429;
    color: #9d9d9d;
    white-space: normal;
}

.multi-column-dropdown li a:hover 
{
	text-decoration: none;
	color: #aaffaa;
	background-color: #333;
}

@media screen and (min-width: 720px)
{
    .dropdown-menu.columns-3
    {
        min-width: 600px;
    }
}

@media screen and (max-width: 720px)
{
    .dropdown-menu.columns-3
    {
        min-width: 400px;
    }
}

.dropdown-menu.columns-3 > div.row > div > h4
{
    margin: 0px;
    padding: 10px;
    border-bottom: 1px solid #444;
}

.dropdown-menu li a 
{
	/*padding: 5px 15px;*/
	font-weight: 300;
}

/* User Avatar & Name
------------------------------------------------------------------------------------ */

#navbar-user .user-avatar-container {
    display: inline-block;
    margin-top: -8px;
    max-height: 44px;
    min-height: 44px;
    max-width: 44px;
    min-width: 44px;
    border: 2px solid #444;
    /*overflow: visible;*/
}

#navbar-user .user-avatar-container > img {
    max-height: 43px;
}

.navbar-inverse .navbar-nav > li > a:hover img {
    filter: brightness(2);
    -webkit-filter: brightness(2);
}

/* User Notification List
------------------------------------------------------------------------------------ */

.user-notification-list
{
    padding: 0px;
    min-width: 600px;
}

.user-notification-list p
{
    margin: 0;
}

/*.user-notification-list p,*/
.user-notification-list h3
{
    display: inline;
}

.user-notification-list .row
{
    /*padding-bottom: 5px;*/
    word-break: break-word;
}

.user-notification-list > .row > .row
{
    /*max-height: 100px;
    overflow: hidden;*/
}

.user-notification-list > .row > h4,
.user-notification-list > .row > div > h4
{
    margin: 0;
    padding: 10px;
    background: linear-gradient(90deg, #111, #161616);
    /*background: #111;*/
}

.user-notification-list .date
{
    font-size: 80%;
}

.user-notification-list > li > a
{
    padding: 0;
}

.user-notification-list li > a:hover
{
    color: inherit;
}

.user-notification-list li > a > .row:hover
{
    background-color: rgba(255, 255, 255, 0.1);
}

.user-notification-list li > a > .row
{
    max-height: 100px;
    /*min-height: 60px;*/
    overflow-y: hidden;
}

.notification-forum-post,
.notification-post-hit,
.notification-announcement,
.notification-clan-invite,
.notification-message
{
    padding: 4px;
}

/* Message Notifications
---------------------------------------------------------------------------------------- */

.notification-message { padding: 4px; }
.notification-message > li
{
    border: 1px solid #444;
    padding: 5px;
}
.notification-message { padding-bottom: 0px; }
.notification-message:last-child { padding-bottom: 4px; }

/* Announcement Notifications
---------------------------------------------------------------------------------------- */

.notification-announcement { padding: 4px; }
.notification-announcement > li
{
    border: 1px solid #444;
    padding: 5px;
}
.notification-announcement > li > .row > .col-xs-10 > h3
{
    display: block;
    padding-top: 3px;
}

.user-notification-list > .row:nth-child(2) .nano,
.user-notification-list > .row:nth-child(3) .nano
{
    min-height: 200px;
    max-height: 200px;
}

.notification-announcement { padding-bottom: 0px; }
.notification-announcement:last-child { padding-bottom: 4px; }

/* Forum Notifications
---------------------------------------------------------------------------------------- */

.notification-forum-post h1 { font-size: 40pt; }
.notification-forum-post h2 { font-size: 30pt; }
.notification-forum-post h3 { font-size: 20pt; }

.notification-forum-post > li > a > .row
{
    border: 1px solid #444;
    background: linear-gradient(0deg, #2a2a2a, #262626);
    min-height: 100px;
    max-height: 100px;
    overflow: hidden;
}

.notification-forum-post > li > a > .row:hover
{
    background: rgba(0, 0, 0, 0.7);
}

.notification-forum-post .author,
.notification-forum-post .date,
.notification-forum-post .content 
{
    padding: 5px;
}

.notification-forum-post { padding-bottom: 0px; }
.notification-forum-post:last-child { padding-bottom: 4px; }

/* Clan Invite Notifications
---------------------------------------------------------------------------------------- */