.user-avatar-select > .well
{
    margin-left: auto;
    margin-right: auto;
}

#user-avatar
{
    height: 300px;
    max-width: 600px;
}

.profile-game-icon
{
    max-height: 80%;
    max-width: 80%;
    min-height: 30%;
    min-width: 30%;
}