
/* User Avatar
---------------------------------------------------------------------------------------- */

.user-avatar-select
{

}

.user-avatar-select .fs-btn-modify
{
    width: 100%;
}

.user-avatar-select > .well
{
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
}

.user-avatar-container > img
{
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;

    /*max-width: 400px;*/
    max-height: 300px;
}

.user-avatar-container
{
    width: 100%;
    height: 200px;
    max-height: 200px;
    max-width: 350px;
    overflow: hidden;
}

/* Signup / Login
---------------------------------------------------------------------------------------- */

.signup .signup-group,
.login .login-group
{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    min-width: 300px;
}

.signup-group .form-group,
.login-group .form-group
{
    margin-bottom: 10px;
}

.signup-group .form-group:last-child,
.login-group .form-group:last-child
{
    margin-top: 25px;
}

/* Profile
---------------------------------------------------------------------------------------- */

.profile-game-icon
{
    max-height: 80%;
    max-width: 80%;
    min-height: 30%;
    min-width: 30%;
}

.profile-content .wall .nano-content,
.profile-content .invites .content
{
    background: rgba(0, 0, 0, 0.6);
}

/*.profile-content > div
{
    padding-top: 30px;
}*/

.profile-header,
.profile-content .games .panel button,
.profile-content .games .name
{
    white-space: nowrap;
}

.profile-content .games button.btn-edit.active:hover
{
    background-color: rgba(72, 168, 75, 0.7);
}

.profile-header .page-header
{
    margin-bottom: 0;
}

.profile-header .invites,
.profile-content .wall .header
{
    padding: 5px 0 5px 0;
}

.profile-content .wall
{
    border: 1px solid #444;
    /*padding-left: 20px;*/
    /*width: 90%;*/
    /*margin-right: auto;*/
    /*margin-left: auto;*/
}

.profile-content .wall .nano
{
    height: 400px;
}

.profile-content .wall .nano-content,
.profile-content .invites .content
{
    /*max-height: 400px;*/
    /*min-height: 400px;*/
    /*overflow-y: auto;*/
}

.profile-content .wall .nano-content .message
{
    word-wrap: break-word;
    padding: 10px 10px 10px 10px;
    border-top: 1px solid rgba(200, 200, 200, 0.1);
    width: 95%;
    margin-right: auto;
    margin-left: auto;
}

.profile-content .wall .nano-content .message .name
{
    /* font-family: "Oswald"; */
    font-size: 105%;
}

.profile-content .wall .nano-content .message .text
{
    padding-top: 35px;
    padding-bottom: 35px;
}

.profile-content .wall .footer > .input-group
{
    border-top: 1px solid rgba(200, 200, 200, 0.1);
    padding: 10px;
}

.profile-content .games
{
    padding: 0 5px 10px 5px;
}

.profile-content .games .game
{
    padding: 0 2px 5px 2px;
}

.profile-content .games .panel .icon,
.profile-content .games .panel button
{
    padding: 1px;
    text-align: left;
    width: 100%;
}

.profile-content .games .panel.active
{
    border: 1px solid rgba(180, 255, 180, 0.9);
    box-shadow: 0 0 5px rgba(210, 255, 210, 0.9);
    background: linear-gradient(140deg, #438a43, #233d23);
}

.profile-content .games .panel.active .name
{
    color: #aaffaa;
}

.profile-content .games .name
{
    display: inline;
    padding-left: 3px;
    white-space: nowrap;
    font-size: 9pt;
}

.profile-content .games .status
{
    font-size: 300%;
    color: #aaffaa;
    text-align: center;
    padding-right: 10px;
}

@media (max-width: 870px)
{
    .profile-content .games .name
    {
        display: none;
    }
}

@media (max-width: 630px)
{
    .profile-content .games .name
    {
        display: none;
    }
}