@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:400,900);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,600,700,900);
@import url(http://fonts.googleapis.com/css?family=Passion+One:400,700,900);
@import url(https://fonts.googleapis.com/css?family=Aldrich);

html
{
    /*background-image: url("/img/darksky_background.jpg");*/
    background-attachment: fixed !IMPORTANT;
    background-repeat: no-repeat;
    background-size: cover;
    /*background: linear-gradient(160deg, #151715, #1f211f);*/ 
    /* height: 100%; min-height: 100%; */
}

body
{
    padding-top: 50px;
    height: inherit;
    background: transparent;
    font-family: "Montserrat";
    /*font-family: "Alegreya Sans";*/ 
    /*font-size: 16pt;*/
    /*font-weight: 600;*/
    color: rgba(255, 255, 255, 0.6);
}

.offset::before
{
    display: block;
    content: " ";
    height: 50px;
    margin-top: -50px;
    visibility: hidden;
}

h1, 
h2, 
h3,
h4,
h5
{
    font-family: "Alegreya Sans"; 
    font-weight: 700; 
    color: #aaffaa;
    margin: 0;
}

h1 > small,
h2 > small,
h3 > small,
/*h4 > small,
h5 > small*/
{
    font-family: "Alegreya Sans"; 
    font-weight: 500;
    font-variant: normal;
    text-shadow: none;
}

h5
{
    display: inline;
    /*font-size: 12pt;*/
    /* font-family: "Oswald"; */
}

b
{
    font-weight: 900;
}

img
{
    width: auto;
}

iframe,
img
{
    max-width: 90%;
}

a.btn:hover iframe,
a.btn:hover img
{
    filter: brightness(2);
    -webkit-filter: brightness(2);
}

a.btn
{
    padding: 4px;
    border-radius: 1px;
}

a h1,
a h2,
a h3,
a h4,
a h5
{
    margin: 0px;
}

.btn.btn-icon-only
{
    padding: 1px 10px;
}

.page-banner
{
    background: url('/img/mpc-banner-background.png');
    min-height: 70px;
}

.page-banner #banner-image
{
    display: block;
    position: relative;
    min-height: 70px;
}

.page-header-text
{
    font-size: 42pt;
    font-weight: 700;
    font-family: "Aldrich";
}

@media (min-width: 630px)
{
    .page-header-text
    {
        font-size: 72pt;
    }
}

.feedback
{
    /*padding: 10px;*/
}

.navbar-inverse
{
    /*font-family: "Passion One";*/
    font-size: 14pt;
    font-weight: 500;
    background: #111;
}

.navbar .glyphicon-user
{
    font-size: 80%;
}

ul.nav li.dropdown:hover > ul.dropdown-menu
{
    display: block;
}

textarea.form-control
{
    resize: vertical;
    height: 10em;
}

.container
{
    padding-bottom: 500px;
}

#announcements
{
    word-wrap: break-word;
}

#calendar
{
    margin-top: 15px;
}

span.glyphicon-send
{
    font-size: 22pt;
}

.page-footer
{
    margin-top: 50px;
    border-top: 1px solid #aaaaaa;
    border-top: 2px solid #BEFDBE;
    box-shadow: 0px 0px 8px #BEFDBE;
    position: absolute;
    right: 0;
    left: 0;
}

.sidebar-content
{
    padding-left: 1em;
}

.sidebar li > a
{
    font-family: "Oswald";
    font-size: 14pt;
    font-weight: 500;
    text-align: left;
}

.breadcrumb-text
{
    display: inline;
    font-size: 12pt;
    /*font-family: "Titillium Web";*/
}

span.input-group-addon
{
    height: 34px;
    width: 100px;
}

span.input-group-addon
{
    border-radius: 0px;
}

.modal-dialog
{
    margin-top: 15%;
    background: rgba(40, 40, 40, 0.8);
    border: 1px solid #444;
}

.dialog-transparent
{
    background: none;
    border: none;
}

#modal-newevent .modal-dialog .modal-body .input-group
{
    padding: 0px;
    background: transparent;
    padding-top: 10px;
}

#modal-newevent .modal-dialog .modal-body .input-group-addon
{
    cursor: default;
}

#modal-newevent .modal-dialog .modal-body .input-date:hover 
{
    cursor: pointer;
    background: rgba(0, 0, 0, 0.6);
}

#modal-newevent .modal-dialog .modal-body .input-group-addon
{
    border: 1px solid #333;
    border-left: none;
}

#modal-newevent .modal-footer
{
    padding: 0;
}

#modal-newevent .modal-header .close
{
    font-size: 24px;
    margin-top: 0;
}

.members tr.row.alt
{
    background-color: rgba(0, 0, 0, 0.75);
}

.members tr.row
{
    background-color: #2a2a2a;
}

button.active:hover img
{
    /*-webkit-filter: brightness(1.6) hue-rotate(25deg);*/
}

/** Bootstrap Modifiers **/

.panel
{
    padding: 0px;
    width: 100%;
}

.panel a.btn
{
    width: 100%;
}

.sidebar li > a:hover,
.sidebar li > a:active,
/* .panel .btn { border: none; } */
.recentfeed .panel a.btn:hover,
.recentfeed .panel a.btn:active,
.panel a.btn:hover,
.panel a.btn:active,
.panel a.btn.info:hover,
.panel a.btn.info:active,
.panel a.btn.recent:hover,
.panel a.btn.recent:active
{
    background: rgba(0, 0, 0, 0.7);
}

.panel a.btn:hover,
.panel a.btn:active
{
    color: rgba(220,255,220,0.9);
    /* background: linear-gradient(110deg, rgba(255,255,255,0.1), rgba(255,255,255,0)); */
    /* border: 1px solid rgba(220,255,220,0.0); */
    /* box-shadow: 0 0 40px rgba(255,255,255,0.9); */
}

.panel-group
{
    margin-bottom: 2px;
}

.panel-group.panel-header
{
    margin-bottom: 25px;
}

.pull-left
{
    text-align: left;
}

.page-header h1
{
    margin-bottom: 5px;
}

.form-group:last-child
{
    margin-bottom: 0px;
}

.input-group button
{
    padding: 15px;
    width: 30%;
    height: auto;
    text-align: center;
    background: linear-gradient(rgba(255,255,255,0.025), rgba(255,255,255,0.05));
}

/******************************************************************
 *
 *	RECENT FEED
 *
 ******************************************************************/

a .panel-recentfeed h1
{
    font-size: 26px;
}

a .panel-recentfeed h2
{
    font-size: 22px;
}

a .panel-recentfeed h3
{
    font-size: 18px;
}

.recentfeed-content iframe,
.recentfeed-content img
{
    max-width: 80%;
}

.recentfeed .carousel-inner
{
    border: 1px solid #444;
}

.recentfeed > div
{
    font-size: 150%;
    font-weight: 700;
}

.recentfeed .forum-post .content
{
    background: inherit;
}

.recentfeed .panel-group
{
    margin: 2px;
}

/*.recentfeed .panel > a.btn
{
    padding: 7px 5px 5px 5px;
    background: linear-gradient(170deg, #2a2c2a,#1f1f1f);
}*/

.panel-recentfeed
{
    min-height: 120px;
    max-height: 120px;
    overflow: hidden;
    word-wrap: break-word;
}

.panel-recentfeed > .row
{
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

@media (min-width: 630px)
{
    .panel-recentfeed
    {
        min-height: 140px;
        max-height: 140px;
    }
}

.panel-recentfeed .recentfeed-content
{
    font-size: 80%;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.6);
    padding: 5px 5px 115px 5px;
}

.panel-recentfeed .name
{
     /*font-family: "Oswald";*/
    /*font-variant: small-caps;*/
    /*font-size: 90%;*/
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
}

.panel-recentfeed .forum
{
    padding: 0 5px 5px 0;
    /*font-size: 110%;*/
    text-align: right;
}

.panel-recentfeed-footer .author,
.panel-recentfeed-footer .time
{
    width: 50%;
}

.panel-recentfeed-footer .author
{
    white-space: nowrap;
    overflow: hidden;
    float: left;
    text-align: left;
}

.panel-recentfeed-footer .time
{
    float: right;
    text-align: right;
}

.panel-recentfeed-footer
{
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0px;
    padding-top: 5px;
    font-size: 90%;
    white-space: nowrap;
    overflow: hidden;
}

.col-md-4 .panel > a.btn,
.col-xs-4 .panel > a.btn,
.col-xs-6 .panel > a.btn
{
    text-align: left;
}

.col-xs-1,
.col-xs-2
{
    text-align: center;
}

.reset-password .panel,
.signup .panel,
.login .panel
{
    padding: 15px 15px 15px 15px;
}

.edit-tag-header1 > h1,
.edit-tag-header2 > h2,
.edit-tag-header3 > h3
{
    text-align: left;
    padding: 5px;
    margin: 0px;
}

.edit-tag-header1,
.edit-tag-header2,
.edit-tag-header3
{
    padding: 0px;
}

.btn-delete,
.btn-edit
{
    font-size: 9pt;
    background-color: transparent;
}

.btn-delete:hover,
.btn-delete:active,
.btn-edit:hover,
.btn-edit:active
{
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.7);
}

.btn-signup,
.btn-login
{
    background-color: #447744;
    border: 1px solid #99ee99;
}

.btn-signup:hover,
.btn-signup:active,
.btn-login:hover,
.btn-login:active
{
    box-shadow: 0 0 10px rgba(200, 255, 200, 0.9);
}

.btn-signup,
.btn-login
{
    color: #aaffaa;
}

.btn-reply-row
{
    padding-bottom: 5px;
}

.btn-signup,
.btn-login,
.btn-reply
{
    min-width: 100px;
}

.btn-reply
{
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    color: #88bb88;
}

.btn-reply:hover
{
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.2);
}

.thread-reply
{

    padding-top: 20px;

}

.panel-reply
{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.panel-reply .header
{
    margin: 10px;
}

.panel-reply .header
{
    background-color: transparent;
}

.panel-reply .form-group
{
    background-color: rgba(40, 40, 40, 0.8);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.panel-reply .input-group
{
    text-align: center;
    /*background: rgba(40, 40, 40, 0.8);*/
    padding: 0 10px 0 10px;
    width: 100%;
}

.members .panel
{
    padding: 5px;
}

.members table
{
    table-layout: fixed;
}

.members .email,
.members .icon,
.members .name
{
    white-space: nowrap;
    overflow: hidden;
    padding-top: 10px;
}

.members .name
{
    font-family: "Alegreya Sans"; 
    font-weight: 700;
    font-size: 14pt;
    padding-top: 5px;
}
.members table > tbody > tr > td
{
    padding: 0px;
}

.members tr > td div
{
    padding: 5px;
	height: 35px;
}

.members tr > td > a div:hover
{
    background: rgba(255, 255, 255, 0.4);
}

#navbar-games .icon
{
    padding-right: 5px;
}

.members .icon
{
    padding-right: 5px;
}

#headerbar-games .icon img,
#navbar-games .icon img,
.members .icon img
{
    height: 26px;
    width: 26px;
}

.members .game
{
    font-size: 80%;
}

.members .game input
{
    transform: scale(1.7);
}

.members .game .input-group-addon
{
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
    max-width: 100%;
    padding-left: 5px;
    margin-top: -5px;
}

.members .game .row > .col-xs-2 span
{
    text-align: right;
}

#connectdiscord > #discordbanner 
{
   margin: auto;
}

#connectdiscord iframe 
{
   height: 1000px;
   width: 400px;
}

#serverstatus-collapse 
{
    margin-top: 52px;
}

#discord-btns 
{    
    margin-top: 1%;
    margin-right: 20px;
}

#connectdiscord > #discord-btns > .btn-edit 
{
    color: #fff;
    background-color: #738BD7;
    border: 1px solid #fff;
    padding: 10px;
    margin: 2px 2px 2px 2px;
}

#closeserver-btn 
{
    margin: auto;
    background-color: #738BD7;
    color: #fff;
}

#starcraft2lotv 
{
    margin-top: 15px;
}

#starcraft2lotv h3 
{
    margin-bottom: 10px; 
    margin-top: 10px;
}

#starcraft2lotv .panel-group 
{
    margin: 5px;
}

#starcraft2lotv .panel-group p 
{
    color: #777777;
}

