
.fs-container
{
    padding-bottom: 10px;
}

.fs-conf-modal
{
    background: rgba(0, 0, 0, 0.75);
}

.fs-btn-modify
{
    transition-duration: 0.2s;
}
.fs-btn-modify:hover
{
    background: rgba(0, 0, 0, 0.9);
    /*border: 1px solid #555;*/
    /*transform: scale(1.025);*/
}

.fs-conf-modal > .modal-dialog
{
    /*padding-top: 10%;*/
}

.fs-btn-modify > .info
{
    padding-top: 5px;
}

.fs-container
{
    /*text-align: center;*/
}