.fs-container {
    padding-bottom: 10px;
}

.fs-container > .fs-btn-modify {
    width: 100%;
}

.fs-conf-modal {
    background: rgba(0, 0, 0, 0.75);
}

.fs-btn-modify {
    transition-duration: 0.2s;
    background-color: transparent;
}

.fs-btn-modify:hover > div:first-child {
    background-color: rgba(0, 0, 0, 0.9);
    filter: brightness(0.2);
    -webkit-filter: brightness(0.2);
    /*border: 1px solid #555;*/
    /*transform: scale(1.025);*/
}

.fs-conf-modal > .modal-dialog {
    /*padding-top: 10%;*/
}

.fs-conf-modal .fs-btn-confirm,
.fs-conf-modal .fs-btn-modify,
.fs-conf-modal .fs-btn-cancel {
    font-size: 18pt;
    padding: 10px;
}

.fs-conf-modal .fs-btn-confirm { padding-top: 25px; }

.fs-btn-modify > .info {
    padding-top: 5px;
}