<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="bootstrap.css">
		<link rel="stylesheet" type="text/css" href="website.css">
		<link rel="stylesheet" type="text/css" href="font-awesome.css">
		<script src="bootstrap.js" type="text/javascript"></script>
		<script src="sandbox-header.js" type="text/javascript"></script>
		<script src="validate.js" type="text/javascript"></script>
		</head>
	<body>

			<div id="ventrilo">
	<div class="row">
		<img class="img-responsive img-rounded media-object" src="img/information_page/ventrilologo.png" id="ventrilologo"/>			
	</div>
	<div class="row">
		<div class="media-list">
			<div class="media">
				<div class="media-left">
					<a href="#">
						<img class="img-responsive img-rounded media-object" src="img/information_page/ventrilologo.png" id="ventrilologo"/>					
					</a>
				</div>
				<div class="media-body">
					<h4 class="media-heading">Media heading</h4>
					<small>Some content for reasons why we like using ventrilo and having it as a communication device.</small>
				</div>
			</div>	
		</div>
	</div>
	<div class="row">
		<script type="text/javascript" src="//www.typefrag.com/Server-Status/script.aspx?id=eabda7e4-f526-42e0-aaed-8c113747ef5e"></script>
	</div>
</div>
		<script src="sandbox-body.js" type="text/javascript"></script>
	</body>
</html>